<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCF_Service_Current_Time.CurrentTimeService" behaviorConfiguration="CurrentTimeServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/CurrentTimeService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WCF_Service_Current_Time.ICurrentTimeContract" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CurrentTimeServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>